#mat-elevation-z8 {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
}

#cardListConstraint {
  background-color: #A8A8A8;
  /*to limit height*/
}

#cardListContingency {
  background-color: #A8A8A8;
}

#cardListDescription {
  background-color: #A8A8A8;
}

#cardListActionCurative {
  background-color: #A8A8A8;
}


#cardListActionPreventive {
  background-color: #A8A8A8;
}

.limitHeight {
  /*to limit height*/
  display: block;
  height: 760px;
  overflow-y: scroll;

}

.indicator-constraint {
  margin-right: 5px;
}

.indicator-contingency {
  margin-right: 5px;
}

.indicator-action {
  margin-right: 5px;
}

.limitHeightIn {
  /*to limit height*/
  display: block;
  height: 100%;
}

.highlight {
  background: #98baf6 !important; /* green */
  color: black !important;
}

.noData {
  font-weight: bold;
  margin-left: 40px;
  font-size: medium;
}
.center-text {
  text-align: center;
}
