<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div style="margin-right: 10px; margin-left: 10px">
        <app-card [title]=" 'Logic_Efficiency_list' | translate ">
          <div class="dt-responsive">

            <div class="row">
              <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12">
                <div style="text-align: right;">
                  <label>
                    <input [(ngModel)]="stringSearch"
                           class="input-sm full-data-search"
                           placeholder="{{ 'Logic_context' | translate }}" (keydown.enter)="search()">
                    <button class="btn btn-dark" (click)="search()">{{ 'Search' | translate }}</button>
                  </label>
                </div>
              </div>
            </div>


            <div class="table-striped table-dark">
              <table mat-table #table [dataSource]="dataSource" matSort id="mat-elevation-z8">

                <!-- Position Column -->
                <ng-container matColumnDef="idLogicEfficiency">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 20%"> {{ 'Logic_context' | translate }}
                  </th>
                  <td mat-cell *matCellDef="let logicEfficiency">{{logicEfficiency.idLogicEfficiency}}</td>
                </ng-container>

                <ng-container matColumnDef="abstractLogic_id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 10%"> {{ 'Logic_identifier' | translate }}
                  </th>
                  <td class="center-text" mat-cell *matCellDef="let logicEfficiency">{{logicEfficiency.abstractLogic_id}}</td>
                </ng-container>

                <ng-container matColumnDef="selecteCount">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 8%"> {{ 'Selected' | translate }}
                  </th>
                  <td class="center-text" mat-cell *matCellDef="let logicEfficiency">{{logicEfficiency.selecteCount}}</td>
                </ng-container>

                <ng-container matColumnDef="lastSelectDate">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 10%"> {{ 'Last_selected' | translate }}
                  </th>
                  <td class="center-text" mat-cell *matCellDef="let logicEfficiency" container="body" [ngbTooltip]="logicEfficiency.lastSelectDate | date: 'EEEE, MMMM d, y, h:mm:ss a zzzz'">{{logicEfficiency.lastSelectDate | date: 'dd-MM-yyyy'}}</td>
                </ng-container>

                <ng-container matColumnDef="usageCount">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 8%"> {{ 'Usage' | translate }}
                  </th>
                  <td class="center-text" mat-cell *matCellDef="let logicEfficiency">{{logicEfficiency.usageCount}}</td>
                </ng-container>

                <ng-container matColumnDef="lastUsageDate">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 10%"> {{ 'Last_usage' | translate }}
                  </th>
                  <td class="center-text" mat-cell *matCellDef="let logicEfficiency" container="body" [ngbTooltip]="logicEfficiency.lastUsageDate | date: 'EEEE, MMMM d, y, h:mm:ss a zzzz'">{{logicEfficiency.lastUsageDate | date: 'dd-MM-yyyy'}}</td>
                </ng-container>

                <ng-container matColumnDef="testCount">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 8%"> {{ 'Tested' | translate }}
                  </th>
                  <td class="center-text" mat-cell *matCellDef="let logicEfficiency">{{logicEfficiency.testCount}}</td>
                </ng-container>

                <ng-container matColumnDef="lastTestDate">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 10%"> {{ 'Last_tested' | translate }}
                  </th>
                  <td class="center-text" mat-cell *matCellDef="let logicEfficiency" container="body" [ngbTooltip]="logicEfficiency.lastTestDate | date: 'EEEE, MMMM d, y, h:mm:ss a zzzz'">{{logicEfficiency.lastTestDate | date: 'dd-MM-yyyy'}}</td>
                </ng-container>

                <ng-container matColumnDef="successCount">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 8%"> {{ 'Succeed' | translate }}
                  </th>
                  <td class="center-text" mat-cell *matCellDef="let logicEfficiency" >{{logicEfficiency.successCount}}</td>
                </ng-container>

                <ng-container matColumnDef="lastSuccessDate">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 10%"> {{ 'Last_succeed' | translate }}
                  </th>
                  <td class="center-text" mat-cell *matCellDef="let logicEfficiency" container="body" [ngbTooltip]="logicEfficiency.lastSuccessDate | date: 'EEEE, MMMM d, y, h:mm:ss a zzzz'">{{logicEfficiency.lastSuccessDate | date: 'dd-MM-yyyy'}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                    [ngClass]="{'highlight': selectedRowIndex == row.id}" (click)="selectRow(row)"></tr>

              </table>

              <nav class="navbar navbar-dark bg-dark">
                <ul class="pagination text-center">
                  <li class="page-item">
                    <button class="btn" (click)="previousClicked()">{{ 'Previous'  | translate }}</button>
                  </li>
                  <a style="padding: 10px"> {{pageIndicator}} </a>
                  <li class="page-item">
                    <button class="btn" (click)="nextClicked()">{{ 'Next'  | translate }}</button>
                  </li>
                  <li class="page-item" style="padding-left: 20px">
                    <select class="browser-default custom-select" (change)="onChangeOption($event.target.value)"  [(ngModel)]="pageSize">
                      <option *ngFor="let size of allSize" selected [value]="size"> {{size}} </option>
                    </select>
                  </li>
                </ul>
              </nav>

            </div>
          </div>
        </app-card>
      </div>
    </div>
  </div>
</div>
