<!-- news.component.html -->
<div class="container">
  <div class="card" style="width: 31rem;">
    <div class="card-body">
      <h5 class="card-title">Contacts</h5>
      <p class="card-text">
        BRETTEVILLE Olivier : <a href="mailto:olivier.bretteville@rte-france.com">olivier.bretteville@rte-france.com</a>
        <br/>
        PERRIN Olivier : <a href="mailto:olivier.perrin@rte-france.com">olivier.perrin@rte-france.com</a>
        <br/>
        AMROUN Hamou : <a href="mailto:hamou.amroun@rte-france.com">hamou.amroun@rte-france.com</a>
      </p>
    </div>
  </div>
</div>
